<% content_for :stylesheets do %>
    #profile_sidebar {display: none;}
    #friends-sidebar {display: none;}
    .main { width: 100%; margin-left: 10%; margin-top: 5vh; }
<% end %>

<% ip = request.remote_ip %>
<% address =  Geocoder.address(ip) %>

<h1 id='odin-alert'>Odin is a god and immutable.</h1>
<br>
<h3> The IP Address <%= ip %><%= " located in #{address}" unless address.empty? %> has been reported. </h3>