<h3><%= "#{@user.name}'s Photos" %></h3>


<div id='photos-container'>
  <% @posts.each do |post| %>
  <div>
    <a href=<%= post_path(post)%>>
      <%= image_tag post.photo %>
    </a>
  </div>
  <% end %>
</div>