<% content_for :stylesheets do %>
    #profile_sidebar {display: none;}
    #friends-sidebar {display: none;}
    .main { margin-left: 10%; margin-top: 5vh; }
<% end %>

<p>We're sorry, but something went wrong (500)</p>