/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  margin:0;
  padding:0;
  width:100%;
  background-image: linear-gradient(45deg,#e2e6ea, #dfedef, #eff5fc);
}

/* header */

header {
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  justify-content: space-between;
  height: 7vh;
  background-color: #7190af6b;
  background-image: linear-gradient(45deg, #3c4e5d, #afd8ec85);
  box-sizing: border-box;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
}

.header-button {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 1vw;
  font-size: 15px;
}

.header-button:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.header-button:focus {
  outline: none;
}

.header-item {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.header-item:hover {
  text-decoration: none;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.171);
}

.notifications {
  color: #4a5692;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: 400;
}

#flag {
  top: 1px;
  font-size: 18px;
  position: relative;
}

sup {
  bottom: 5px;
  position: relative;
  font-size: 11px;
}

/* flash */

.flash-container {
  background-color: #7c7aff4f;
}

#notice {
  padding: 1vh;
  color: rgb(22, 129, 76);
  font-family: verdana, arial, helvetica, sans-serif;
}

.alert {
  padding: 1vh;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
}

/* links */

a {
  text-decoration: none;
  color: #385898;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

/* container for pages other than root */

.page-body {
  margin-top: 2vh;
  min-height: 91vh;
  padding: 1vh 3vw 2vw 3vw;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-column-gap: 3vh;
}

#main {
  grid-column: 2 / 3;
}

/* submit, create, edit, cancel, etc. */

.important-button {
  background-color: #4267b27c !important;
  border-radius: 10px;
  height: 25px;
}

.important-button:hover {
  background-color: #4267b2 !important;
  color: white;
}

.important-button:focus {
  outline: none;
  background-color: #2758bb !important;
  box-shadow: 1px 3px 8px #6681a7d1;
  color: white;
}

.cancel {
  background-color: #f56d6d !important;
  border-radius: 10px;
  height: 25px;
}

.cancel:hover {
  background-color: #960101 !important;
  color: white;
}

.cancel:focus {
  outline: none;
  background-color: #3a0000 !important;
  box-shadow: 1px 3px 8px #6681a7d1;
  color: white;
}