$delightful-blue: #4267b2;

/* photo display */

#photos-container {
  /* Prevent vertical gaps */
  line-height: 0;
  column-count: 3;
  column-gap: 4px;
  margin-bottom: 4px;
}

@media (max-width: 900px) {
  #photos-container {
  column-count:         2;
  }
}

#photos-container img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 4px;
}

#photos-container img:hover {
  box-shadow: 0px 0px 3px 0px black;
}

.image-upload {
  display: inline-flex;
}

.image-upload > input {
  width: 164px;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 12px;
  color: transparent;
}

.image-upload input:focus,
.image-upload input:active,
.image-upload input:visited,
.image-upload input:hover {
  outline: none;
  color: black;

}

.hide-button {
  position: relative;
  left: 80px;
  background: #f0f2f5;
  height: 34px;
  width: 82px;
}

.image-upload > label {
  cursor: pointer;
}

.fa-file-image {
  color: $delightful-blue;
  font-size: 30px;
  margin-right: 7px;
}

.fa-file-image:hover {
  color: darkblue;
}