// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$subtle-border: 1px solid rgba(0, 0, 0, 0.151);
$blue-text: #4267b2;
$booking-blue: #385898;

.post {
  // width: 50%;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 2vh;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 2px 3px 9px 0px #00000085;
  display: grid;
  grid-template-columns: 20px 3fr 1fr;
  grid-template-rows: auto;
}

.post-links {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
}

.history {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding: 5px 0 5px 0;
  border-bottom: $subtle-border;
}

.body {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  padding: 8px 0 8px 0;
}

.author {
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  box-sizing: border-box;
  color: $blue-text;
  font-style: italic;
  font-weight: bold;
}

.comment-icon {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  border-top: $subtle-border;
  color: $blue-text;
  padding-top: 8px;
  box-sizing: border-box;
}

.like {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  border-top: $subtle-border;
  padding-top: 8px;
  box-sizing: border-box;
}

.fa-thumbs-up {
  display: inline !important;
  margin-right: 4px;
  border-radius: 100%;
  padding: 4px;
  color: white;
  background-color: gray;
}

.liked {
  background-color: $blue-text;
}

.like-link {
  border: none;
  padding: 0;
  background-color: transparent;
}

.like-link:hover {
  cursor: pointer;
}

.like-link:focus {
  outline: none;
}

.comments-icon {
  margin-left: 5px;
  font-size: 17px;
}

.comments-count {
  position: relative;
  bottom: 3px;
}

.comment-link:hover {
  text-decoration: none;
  color: gray;
}

// comments

.comments {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  padding: 8px 0 8px 0;
  border-top: 1px solid #00000027;
  margin-top: 1vh;
}

.new-comment {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  display: flex;
  padding: 8px 0 8px 0;
  border-top: 1px solid #00000027;
  margin-top: 1vh;
}

.comment {
 display: flex;
 margin-bottom: 1vh;
}

.comment-main {
  max-width: 87%;
  min-width: 40%;
}

.comment-bubble {
  background-color: lightgray;
  border-radius: 25px;
  padding: 10px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
}

.comment-author {
  display: flex;
  justify-content: space-between;
}

.comment-profile-picture {
  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  margin-right: 1vw;
  border: 1px solid black;
  border-radius: 50%;
}

.compose-comment {
  width: 100%;
}

.new-comment-form {
  width: 87%
}

.comment-form {
  width: 100%;
}

.comment-form textarea {
  background: #2529e812;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.comment-form textarea:focus {
  background: #d9eff76e;
}

.comment-controls {
  display: flex;
}

.submit-comment {
  width: 15%;
  padding: 3px;
  border: none;
  background-color: #58a1e0;
  font-size: 14px;
  color: white;
  border-radius: 5px;
}

.submit-comment:hover {
  cursor: pointer;
  background-color: $booking-blue;
  transition: 300ms;
}

.submit-comment:focus {
  outline: none;
}

.cancel-edit {
  text-align: center;
  margin-right: 5px;
  background-color: #b469c7;
}

.cancel-edit:hover {
  text-decoration: none;
  background-color: #70457b;
}

.replies {
  margin-top: 1vw;
}

.comment-reply {
  display: flex;
}

.reply-form {
  width: 87%;
}

.nest-reply {
  margin-left: 3vw;
}

// border below body and above like count / like button

.like-border {
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  border-top: $subtle-border;
  box-sizing: border-box;
}

// new post

textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
}

textarea:focus {
  outline: none;
  background-color: #d0e2e8;
  box-shadow: 0 0 7px 1px #00000029;
}

#new-post-wrapper {
  display: flex;
  justify-content: flex-end;
}

#new-post {
  width: 21%;
  padding: 5px;
  border: none;
  background-color: #58a1e0;
  font-size: 17px;
  color: white;
  border-radius: 5px;
}

#new-post:hover {
  cursor: pointer;
  background-color: $booking-blue;
  // color: grey;
  transition: 300ms;
}

#new-post:focus {
  outline: none;
}