$delightful-blue: #4267b2;
$edit-profile-width: 50%;

#profile-summary {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2vh 1fr;
  margin-bottom: 2vh;
}

.friendship-indicator {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: end;
  display: flex;
  align-items: baseline;
}

.profile-avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  object-fit: cover;
  border-radius: 50%;
  width: 29vw;
  height: 29vw;
  background-image: linear-gradient(45deg, #78a0b9, transparent);
}

.profile-username {
  font-size: 34px;
  line-height: 34px;
  color: #716a6a;
  margin-bottom: 4vh;
  font-family: 'Xanh Mono', monospace;
}

.basic-info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: auto;
  padding-left: 12px;
}

.info-row {
  margin: 8px;
}

.fa-birthday-cake {
  width: 1em;
  position: relative;
  left: 1px;
}

.friends-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1vh;
  column-gap: 4vw;
}

.friend-row {
  display: flex;
  align-items: center ;
}

.friend-full-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5vw;
}

.friend-list-avatar {
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  margin-right: 1vw;
  margin-top: 0.5vh;
  background-image: linear-gradient(45deg, #78a0b9, transparent);
}

.add-friend {
  background: none;
  border: none;
  color: $delightful-blue;
}

.add-friend:hover {
  cursor: pointer;
  color: #4dbaef;
}

.add-friend:focus {
  outline: none;
}

.fa-clock {
  padding-right: 9px;
  font-size: 14px;
  color: #0aad88;
}

h3 {
  margin-top: 0;
}

.unfriend {
  background: none;
  border: none;
  color: #848484;
  font-size: 12px;
}

.unfriend:hover {
  cursor: pointer;
  color: #d62424;
}

.unfriend:focus {
  outline: none;
}

.fa-user-friends {
  color: $delightful-blue;
  padding-right: 6px;
  font-size: 14px;
  transform: translateY(1px);
}

.confirm-request {
  padding-right: 6px;
}

.confirm-request:hover {
  color: #4dbaef;
  text-decoration: none;
}

.delete-request {
  margin-right: 1vw;
  color: #d83131;
}

.delete-request:hover {
  color: #f12bf3;
  text-decoration: none;
}

.delete-request-show {
  margin-right: 0.5vw;
}

// edit profile

.edit-profile-avatar {
  margin-top: 1vh;
  display: block;
  max-height: 70vh;
  width: $edit-profile-width;
}

.edit-profile-container input:focus {
  outline: none;
}

.edit-profile-container select:focus {
  outline: none;
}

.update-profile {
  height: 30px;
  padding: 5px 8px 5px 8px;
  border: none;
  background-color: #58a1e0;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

.update-profile:hover {
  cursor: pointer;
  background-color: $delightful-blue;
  transition: 300ms;
  color: white;
}

.profile-edit-fields input, .profile-edit-fields select {
  box-sizing: border-box;
  border: 0;
  width: $edit-profile-width;
  margin: 3px 0;
  padding: 6px;
  font-family: 'Xanh Mono', monospace;
  font-size: 14px;
  line-height: 17px;
  background-color: #cedae8;
  transition: 300ms;
}

.profile-edit-fields input:focus {
  outline: none;
  transition: 600ms;
  background-color: #9d9fe66e;
}

.profile-edit-fields select {
  width: calc(#{$edit-profile-width / 2} - 2px);
}

