$delightful-blue: #4267b2;

#profile-summary {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2vh;
}

.profile-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 24vw;
  height: 24vw;
}

.profile-username {
  font-size: 34px;
  color: #716a6a;
  margin-bottom: 4vh;
}

.basic-info {
  grid-column: 2 / 3;
  margin: auto;
}

.info-row {
  margin: 8px;
}

.friends-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1vh;
  column-gap: 4vw;
}

.friend-row {
  display: flex;
  align-items: center ;
}

.friend-full-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5vw;
}

.friend-list-avatar {
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  margin-right: 1vw;
  margin-top: 0.5vh;
}

.friend-list-blank-avatar {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  margin-right: 1vw;
  margin-top: 0.5vh;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #78a0b9, transparent);
}

.add-friend {
  background: none;
  border: none;
  color: #3737b9;
}

.add-friend:hover {
  cursor: pointer;
  color: #4dbaef;
}

.add-friend:focus {
  outline: none;
}

.fa-clock {
  padding-right: 9px;
  font-size: 14px;
  color: #0aad88;
}

h3 {
  margin-top: 0;
}

.unfriend {
  background: none;
  border: none;
  color: #3737b9;
}

.unfriend:hover {
  cursor: pointer;
  color: #d62465;
}

.unfriend:focus {
  outline: none;
}

.confirm-request:hover {
  color: #4dbaef;
  text-decoration: none;
}

.delete-request {
  margin-right: 1vw;
  color: #d83131;
}

.delete-request:hover {
  color: #f12bf3;
  text-decoration: none;
}

// edit profile

.edit-profile-avatar {
  margin-top: 1vh;
  width: 100%;
}

.edit-profile-container input:focus {
  outline: none;
}

.edit-profile-container select:focus {
  outline: none;
}

.update-profile {
  height: 30px;
  padding: 5px 8px 5px 8px;
  border: none;
  background-color: #58a1e0;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}

.update-profile:hover {
  cursor: pointer;
  background-color: $delightful-blue;
  transition: 300ms;
  color: white;
}

.profile-text-fields input {
  box-sizing: content-box;
  border: 1px solid gray;
  line-height: 17px;
  width: 30%;
}

.profile-text-fields input:focus {
  outline: none;
  border: 1px solid gray;
  background-color: lightblue;
}