<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
      .title {
        font-family: monospace;
        font-size: 35px;
        line-height: 35px;
        color: #4267b2;
        display: flex;
      }

      .scroll {
        width: 35px;
        height: 35px;
        transform: rotate(-5deg);
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: #385898;
      }

      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      a:visited {
        text-decoration: none;
      }

      hr {
        border-top: 1px solid #4267b2;
        margin: 5px 0;
      }

      p {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

